# kubetpl:syntax:$

port: 1081
socks-port: 1080

allow-lan: false

bind-address: '*'

mode: rule

log-level: info

ipv6: false

routing-mark: 6666

dns:
  enable: false
  listen: 0.0.0.0:53

  default-nameserver:
    - 114.114.114.114
    - 8.8.8.8
  enhanced-mode: fake-ip # or redir-host (not recommended)
  fake-ip-range: 198.18.0.1/16 # Fake IP addresses pool CIDR
  # use-hosts: true # lookup hosts and return IP record
  
  nameserver:
    - 114.114.114.114 # default value
    - 8.8.8.8 # default value
    - tls://dns.rubyfish.cn:853 # DNS over TLS
    - https://1.1.1.1/dns-query # DNS over HTTPS
    - dhcp://en0 # dns from dhcp

proxies:
  - name: "ss3"
    type: ss
    server: $SERVER 
    port: $PORT
    cipher: chacha20-ietf-poly1305
    password: "$PASSWD" 
    plugin: v2ray-plugin
    plugin-opts:
      mode: websocket # no QUIC now
      tls: false # wss
      # skip-cert-verify: true
      # host: bing.com
      # path: "/"
      # mux: true
      # headers:
      #   custom: value

  # cipher support auto/aes-128-gcm/chacha20-poly1305/none
  - name: "vmess"
    type: vmess
    server: $VMESS_SERVER
    port: $VMESS_PORT
    uuid: $UUID 
    alterId: 0
    cipher: auto
    # udp: true
    tls: true
    skip-cert-verify: false
    servername: $VMESS_HOST # priority over wss host
    network: ws
    ws-opts:
      path: $WS_PATH
      headers:
        Host: $VMESS_HOST
      max-early-data: 1024
      early-data-header-name: ""


proxy-groups:
  - name: "relay"
    type: relay
    proxies:
      - vmess
      - ss3

  - name: "auto"
    type: url-test
    proxies:
      - vmess
      - ss3
     
    url: 'http://www.gstatic.com/generate_204'
    interval: 300

  - name: "fallback-auto"
    type: fallback
    proxies:
      - vmess
      - ss3
    url: 'http://www.gstatic.com/generate_204'
    interval: 300

  - name: "load-balance"
    type: load-balance
    proxies:
      - vmess
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
    strategy: consistent-hashing # or round-robin

  - name: Proxy
    type: select
    disable-udp: true
    proxies:
      - vmess
rules:
  - DOMAIN-SUFFIX,google.com,auto
  - DOMAIN-KEYWORD,google,auto
  - DOMAIN,google.com,auto
  - DOMAIN-SUFFIX,ad.com,REJECT
  - SRC-IP-CIDR,192.168.1.201/32,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - GEOIP,CN,DIRECT
  - DST-PORT,80,DIRECT
  - SRC-PORT,7777,DIRECT
  - MATCH,auto
